/* Set the background of the body to light blue */
body {
  background-color: #00b3e6;
}

/* Style the <div> element */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
  background-color: white;
  padding: 30px;
}

/* Style the element with id 'main-header' */
#main-header {
  font-size: 22px;
}

/* Style elements with the class 'perspective-questions' */
.perspective-questions {
  font-style: italic;
}

